/*
@import url( "https://raw.githubusercontent.com/MEMF-IAM/Qx-form/main/styling/Qx-form.css" );
*/

.formRenderer__header h2 {
	color: white ! important;
}

form-caption {
	background-color: hsl(171, 29%, 60%);
}

form-canvas {
	background-color: hsl(171, 30%, 96%);
}

.activity-edit-form,
.layout-form-horizontal > .layout-form-vertical {
	/* https://stackoverflow.com/a/31472069 */
	/* NOTE::Mark the last color of the first gradient fully transparent or the following gradient will not be shown ! */
	background-image:
		linear-gradient(to bottom, hsl(171, 29%, 40%) 0em, hsl(171, 29%, 60%) 0.1em, hsla(171, 30%, 96%, 0) 0.3em),
		linear-gradient(to top, hsl(171, 29%, 60%) 0em, hsl(171, 30%, 96%) 0.2em)
	;
}

.layout-form-vertical:empty {
	visibility: hidden;
}

.layout-form-horizontal > .layout-form-vertical {
	padding: 0.6em;
	border: 1px solid #aaa;
}

.ant-input[disabled] {
	/*
	font-style: italic;
	*/
}

.ant-btn,
.ant-btn[disabled] {
	/*
	background-color: hsl(23, 73%, 91%);
	*/
    background-color: hsl(171, 100%, 15%) !important;
    color: white !important;
    font-weight: bolder;
}

.ant-input {
	font-size: 1rem;
}

.ant-input[disabled] {
	color: hsl(171, 100%, 15%) !important;
	background-color: hsl(171, 29%, 98%);
	cursor: text;
	border-color: hsl(171, 29%, 40%);
}
